<!DOCTYPE html>
<html>
<head>
    <title>Profile Updated</title>
    <!-- Подключение стилей Bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <div class="container mt-5">
        <div class="alert alert-success" role="alert">
            <h4 class="alert-heading">You have successfully updated you profile!</h4>
            <p>Now you profile is up-to-date.</p>
            <hr>
            <p><a href="{% url 'auth:profile' user_id %}">Go to my profile.</a></p>
        </div>
    </div>

    <!-- Подключение скриптов Bootstrap и jQuery (необходимо для работы некоторых функциональных возможностей Bootstrap) -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.1/dist/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
